body,
input,
textarea,
select,
button {
  font-family: sans-serif;
}

body {
  margin: 0;
}

header {
  padding: 12px 16px;

  background-color: black;
  color: white;
}

header h1 {
  margin: 0;
}

main {
  padding: 20px 16px;
}

main p:first-of-type {
  margin-top: 0;
}

main p:last-of-type {
  margin-bottom: 0;
}

footer {
  padding: 0 16px;
}

footer hr {
  margin: 0;
}

footer p {
  margin-top: 8px;

  font-style: italic;
}
