@import url('https://rsms.me/inter/inter.css');

html {
  background-color: #F5F5F5;
}

body,
input,
textarea,
select,
button {
  background-color: #FFF;

  font-family: Inter, sans-serif;
}

body {
  margin: 0;
}

a:link {
  color: #2563EB;

  text-underline-offset: 2px;
}

a:link:hover {
  color: #1E3A8A;
}

a:visited {
  color: #7E22CE;
}

a:visited:hover {
  color: #581C87;
}

header {
  padding: 12px 16px;

  background-color: #262626;
  color: white;
}

header h1 {
  margin: 0;
}

main {
  padding: 24px 16px;
}

main p:first-of-type {
  margin-top: 0;
}

main p:last-of-type {
  margin-bottom: 0;
}

footer {
  padding: 16px;

  background-color: #F5F5F5;
  border-top: 1px solid #d4d4d4;
}

footer hr {
  margin: 0;
}

footer p {
  margin: 0;

  color: #525252;

  font-size: small;
  font-style: italic;
}
